SDP connection for multicast session

I have tried using the sdp_parameters for audio and have set the destination_ip in the transport parameters to the multicast address and the source_ip to the address of the device which is transmitting the multicast stream.  

In the examples below, the address in the c= line is different and this seems pretty important. This is apparently decided at line 196 in sdp_utils.cpp. If the destination_ip is a multicast address, then it uses the source_ip.  Otherwise, it uses the destination_ip. It seems like it should always use the destination_ip but maybe there is something going on with unicast sessions. RFC 4566 section 5.7 seems to indicate that for a multicast session, the address should be a multicast address and for a unicast it might be the source, or relay, or sink. Doesn't seem real clear for unicast but multicast seems pretty clear. 

Am I using source_ip and destination_ip incorrectly for a multicast session or is line 196 in sdp_utils.cpp incorrect?

Line 196:
// setup Connection Data's connection address
const auto& connection_address = transport_param.at(address_type_multicast.second ? nmos::fields::source_ip : nmos::fields::destination_ip);

Example SDPs:

For one of my streams, the following SDP is generated using sdp_parameters

v=0
o=- 3753549510 3753549510 IN IP4 192.168.87.122
s=wnip:BL022S07:BL22:22.0.0.7
t=0 0
m=audio 50100 RTP/AVP 100
c=IN IP4 192.168.87.122/32
a=ts-refclk:ptp=IEEE1588-2008:traceable
a=mediaclk:direct=0
a=source-filter: incl IN IP4 239.192.197.171 192.168.87.122
a=ptime:0.25
a=rtpmap:100 L24/48000/2
a=fmtp:100 channel-order=SMPTE2110.(ST); 


When I generate my own SDP file I get:

v=0
o=- 3753549224 3753549224 IN IP4 192.168.87.122
s=wnip:BL022S07:BL22:22.0.0.7
i=BL022S07 : BL22
c=IN IP4 239.192.197.171/255
t=0 0
m=audio 50100 RTP/AVP 100
a=recvonly
a=rtpmap:100 L24/48000/2
a=ptime:0.25
a=ts-refclk:ptp=IEEE1588-2008:00-00-00-00-00-00-00-00:4
a=mediaclk:direct=0


Thank you for the thorough report. Line 196 is incorrect. Local history shows I introduced the bug for multicast when I reversed the sense of the boolean flag from is-unicast to is-multicast. I think you are likely also right about the unicast case; we are confirming now.

We believe the logic is now correct! Thanks again for the report and analysis, @jwpwh.

Fix confirmed by a third party.